body {
    background-color: black;
    background-image: url(flip_clock.jpg);
    background-size: cover;
    size: cover;
}

@font-face { 
	font-family: AngryBirds; src: url('angrybirds-regular.ttf'); 
}

@font-face{
		font-family: tarpino; src: url('Tarpino.ttf');
}

@font-face{
		font-family: circo; src: url('circo.ttf');
}


h1 {
	font-family: AngryBirds;
    color: black;
    margin-left: 10%;
    font-size: 100px;
    font-weight: bold;
}

h2 {
	font-family: tarpino;
	color:rgb(105,105,105);
	margin-left: 7%;   
    font-size: 30px;
}

.btn {
	font-family: circo;
	height: 70px;
	padding: 10px;
	font-size: 25px;
	margin-left: 30%;
	margin-top:100px;
	background: rgb(169,169,169);
	color:white;
	border-radius: 10px;
	transition-duration: 0.4s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);

}

.btn:hover{
	background:grey;
}


.btn:active{
	transform: translateY(4px);
	box-shadow: 0 0 8px 0 black;
}